.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0;
  transition: opacity .2s linear;
}

.header__lang-link:last-of-type {
  margin-left: 18px;
}

.header__lang-link:hover {
  opacity: .8;
}

