.place__paragraphs {
  max-width: 100%;
  display: grid;
  row-gap: 25px;
  align-self: start;
  justify-self: start;
  margin: 0 auto;
}

@media screen and (max-width: 690px) {
  .place {
    width: max(260px, min(100%));
  }
}

@media screen and (max-width: 568px) {
  .place__paragraphs {
    width: max(288px, min(90%));
  }
}