.place__website {
    align-self: end;
    margin: 0;
    width: 99%;
}

@media screen and (max-width: 568px) {
    .place__website {
      width: max(288px, min(90%));
      margin: 0 auto;
    }
  }
